
.navbar
{
	display: table;
	width: 100%;
	background-color: red;
}
.navitem
{
	display: table-cell;
	background-color: white;
}

.div_table
{
	width: 100%;
		/*display:table; */
}
.div_table_row
{
	/*display:table-row;*/
}
.div_table_cell
{
	/*display : table-cell;*/
	float:left;
/*	width:20%;*/
}

	/* === sticky footer stuff === */

html, body
{
	height:100%;
}

#wrap
{
	min-height:100%;
}
#main
{
	overflow: auto;
	padding-bottom: 3em;  /* must be same height as the footer */
}

#footer
{
	width:100%;
	position:relative;
	margin-top: -3em;
	height: 3em;
	clear: both;
	text-align:center;
	background-color:#eeddaa;
}

#footer_cell	/* not working */
{
	display: table-cell;
	height: 100%;
	width:100%;
	vertical-align: middle;
}

	/* consent cookie popup div */

.div_cookie_consent
{
	position: fixed;
	left:0;
	bottom:0;
	width:100%;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
	background-color:#dddddd;
	border-color:red;
	border-style:solid;
	z-index = 1;
}

.consentbutton
{
	background-color:#aaaaaa;
	width:20em;
	margin:0 auto;
}

.navlink
{
	text-decoration:none;
}


/* responsive design stuff from w3schools */
/* design for mobile first */

/* Use a media query to add a breakpoint at 800px: */

.left, .main, .right 
{
	width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
}

@media only screen and (min-width: 800px) 
{
	.left
	{
		width: 20%;
	}
	.main
	{
		width: 60%;
	}
	.right
	{
		width: 20%;
	}
}

.row
{
	background-color:#ffffff;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.left
{
	background-color:#ffffff;
	float: left;
	width: 20%; /* The width is 20%, by default */
	margin-top:7px;
}

.main 
{
	margin-top:7px;
	background-color:#ffffff;
	float: left;
	width: 60%;  /* The width is 60%, by default */
}

.right 
{
	background-color:#ffffff;
	float: left;
	width: 20%; /* The width is 20%, by default */
	margin-top:7px;
}

.leftbox
{
	border-color:#aa8866;
	border-style:solid;
	background-color: #ffeedd;
}

.rightbox
{
	border-color:#aa8866;
	border-style:solid;
	background-color: #ffeedd;
	height :20%;
}
